<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>解析设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{__PUBLIC_ADMIN__}/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="{__PUBLIC_ADMIN__}/css/public.css" media="all">
    <style>
        .layui-form-item .layui-input-company {width: auto;padding-right: 10px;line-height: 38px;}
    </style>
</head>
<body>

<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-form layuimini-form">
			<form action="" onsubmit="return false;">
				<!-- 解析设置 -->
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label required">解析接口</label>
					<div class="layui-input-block">
						<textarea name="jx" class="layui-textarea" placeholder="多个解析接口用英文状态 , 号分割" style="height: 300px;">{$Think.config.config.jx}</textarea>
						<tip>一行一个，中间不能有空格</tip>
					</div>
				</div>
				<!-- 确认保存 -->
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="jx">确认保存</button>
					</div>
				</div>
			</form>
        </div>
    </div>
</div>
<script src="{__PUBLIC_ADMIN__}/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form',"jquery"], function () {
        var $ = layui.jquery,
			form = layui.form,
            layer = layui.layer;
		
        // 进行登录操作
        form.on('submit(jx)', function (data) {
            data = data.field;
    		
    		$.post('/admin/jx',data,function(res){
    			if(res.status=='success'){
    				layer.msg(res.msg, function () {
    				    window.location = '/admin/jx';
    				});
    			}else{
    				layer.msg(res.msg);
    				return false;
    			}
    		});
    		
            return false;
        });
    });
</script>
</body>
</html>