<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{__PUBLIC_ADMIN__}/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="{__PUBLIC_ADMIN__}/css/public.css" media="all">
    <style>
        .layui-form-item .layui-input-company {width: auto;padding-right: 10px;line-height: 38px;}
    </style>
</head>
<body>

<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-form layuimini-form">
			<form action="" onsubmit="return false;">
				<!-- 旧密码 -->
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label required">旧密码</label>
					<div class="layui-input-block">
						<input type="text" name="password" lay-verify="required" lay-reqtext="旧密码不能为空" placeholder="请输入旧密码" class="layui-input">
					</div>
				</div>
				<!-- 新密码 -->
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label required">新密码</label>
					<div class="layui-input-block">
						<input type="password" name="newpass" lay-verify="required" lay-reqtext="新密码不能为空" placeholder="请输入新密码" class="layui-input">
					</div>
				</div>
				<!-- 确认保存 -->
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="repass">确认保存</button>
					</div>
				</div>
			</form>
        </div>
    </div>
</div>
<script src="{__PUBLIC_ADMIN__}/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form',"jquery"], function () {
        var $ = layui.jquery,
			form = layui.form,
            layer = layui.layer;
		
        // 进行登录操作
        form.on('submit(repass)', function (data) {
            data = data.field;
    		
    		$.post('/admin/repass',data,function(res){
    			if(res.status=='success'){
    				layer.msg(res.msg, function () {
    				    window.location = '/admin/repass';
    				});
    			}else{
    				layer.msg(res.msg);
    				return false;
    			}
    		});
    		
            return false;
        });
    });
</script>
</body>
</html>