<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="max-age=60">
		<meta name="keywords" content="{$Think.config.config.keywords},gmeier,ican,www.gmeier.cn">
		<meta name="description" itemprop="description" content="{$Think.config.config.description}">
		<title>{$Think.config.config.webtitle}</title>
		<link rel="stylesheet" type="text/css" href="{__PUBLIC_INDEX__}/css/style.css?v=2.1.0"/>
		<link rel="stylesheet" href="{__PUBLIC_INDEX__}/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
	</head>
	<body>
		<!-- LOGO -->
		<a href="/" class="logo" style="display: block;" title="{$Think.config.config.webtitle}"></a>
		<span id="tips" class="tips">~~~点击上方LOGO跳转首页哦~~~</span>
		<!-- 搜索框 -->
		<div class="content search">
			<form action="" onsubmit="return false;">
				<input type="text" required="" name="wd" class="border-green" placeholder="请输入您要搜索的内容...">
				<button type="submit" title="搜索" class="back"></button>
			</form>
		</div>
		<!-- 视频列表 -->
		<div class="content top-10 padding-25">
			<div class="column" style="text-align: center;">
				<h2 style="margin-bottom: 15px;">推荐资源</h2>
				<div class="lanmu">
					<a class="back" href="/index/index/list/dianying" title="电影">电影</a>
					<a class="back" href="/index/index/list/dianshi" title="连续剧">连续剧</a>
					<a class="back" href="/index/index/list/zongyi" title="综艺">综艺</a>
					<a class="back" href="/index/index/list/dongman" title="动漫">动漫</a>
				</div>
			</div>
			<ul id="list">
				{volist name="mvso_list['list']" id="obj"}
				<li class="list">
					<a href="/index/play/type/{$obj['type']}/id/{$obj['id']}/number/1" class="list-a" style="cursor: pointer;">
						<img class="list-img" src="{$obj['img']}" title="{$obj['name']}">
						<span class="list-span" title="{$obj['name']}">{$obj['name']}</span>
					</a>
				</li>
				{/volist}
			</ul>
		</div>
		<!-- 底部 -->
		{include file="index/Footer"}
	</body>
</html>