<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="keywords" content="{$Think.config.config.keywords}" />
<meta name="description" content="{$Think.config.config.description}" />
<!-- fonts -->
<link href="{__PUBLIC_ETOS__}/lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<!-- jquery -->
<script src="{__PUBLIC_ETOS__}/js/push.js"></script>
<script src="{__PUBLIC_ETOS__}/js/jquery.min.js"></script>
<!-- bootsrtap -->
<link href="{__PUBLIC_ETOS__}/css/bootstrap.min.css" rel="stylesheet" />
<script src="{__PUBLIC_ETOS__}/js/popper.min.js"></script>
<script src="{__PUBLIC_ETOS__}/js/bootstrap.min.js"></script>
<!-- 系统 -->
<link href="{__PUBLIC_ETOS__}/css/base.css" rel="stylesheet" />
<script src="{__PUBLIC_ETOS__}/js/zh-cn.js"></script>
<!--语言包 -->
<script src="{__PUBLIC_ETOS__}/js/base.js" data-id="daicuo" data-file="/index.php" data-root="/" data-view="apps/xiao/theme/default/" data-module="xiao" data-controll="index" data-action="index" data-userid="0" data-pageindex="1"></script>
<!-- 主题 -->
<link href="{__PUBLIC_ETOS__}/css/theme.css" rel="stylesheet" />
<script src="{__PUBLIC_ETOS__}/js/theme.js"></script>
<style type="text/css">
	@media (max-width:768px) {
		.h-slide {
		    height: 175px;
		}
	}
</style>